<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <a th:href="@{'/recipe/userIndex/'+${user.uid}}" method="get">
        <button class="btn btn-default">Home</button>
    </a>
    <a th:href="@{'/logout'}" method="get">
        <button class="btn btn-danger">Logout</button>
    </a>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>

    <hr/>
    <form method="post" style="max-width:500px;" th:object="${recipe}">
        <div class="form-group">
            <label th:for="recipeName">Title</label>
            <input type="text" class="form-control" th:field="*{recipeName}" placeholder="Title" required="required"/>
            <span th:errors="*{recipeName}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="direction">Direction</label>
            <textarea class="form-control" th:field="*{direction}" placeholder="Cooking method.." style="height:200px" required="required"></textarea>
            <span th:errors="*{direction}" class="error"></span>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <hr/>
</div>

</body>
</html>