<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--nav th:replace="fragments :: navigation"></nav>-->
<div class="container" style="background:#FFFFF0;">
    <td>
        <form th:action="@{'/recipe'}" method="get">
            <button class="btn btn-default">Home</button>
        </form>
    </td>
    <div class="header">
        <center style="font-size:30px;" th:text="${title}">Default title</center>
    </div>
    <h4 style="color:red;" th:text="${error}"></h4>

    <form method="post" style="max-width:500px;" th:object="${loginForm}">
        <div class="form-group">
            <label th:for="email">Email</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="Email..."/>
            <span th:errors="*{email}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" placeholder="Password..."/>
            <span th:errors="*{password}" class="error"></span>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <hr/>
    <td>Don't have an account?
        <a href="/register">Create one!</a></td>

</div>
</body>
</html>


